/target/
/test_disco.xml
/test_whr.xml
/test.out.xml
/whr_line_6_v2.xml
/whr_line_6_v3.xml
/whr_line_6_v4.xml
/whr_line_6.xml
/architect_example_w_profile.xma.bk1
/disco_demo_export.xml
/export.xml
/demo_model_v3_20170220.json
/demo_model_v3_corrected.json
/demo_model_v3.json
/deployment.archimate.bak
/demo_model_v3_20170222.json
